@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-white text-slate-900 antialiased;
}

input,
button,
select,
textarea {
  @apply focus:outline-none focus:ring-2 focus:ring-[#FFC72C] focus:ring-offset-0 focus:ring-offset-transparent;
}
